@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}
.container1{
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}
.ff_rubik{
    font-family: "Rubik", sans-serif;
}
.ff_poppins{
    font-family: "Poppins", sans-serif;
}
.op_70{
    opacity: 70%;
}
.op_78{
    opacity: 78%;
}

.nav_btn{
    padding: 14px 16px;
    background: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 50px;
}
.nav_bg{
    background: #0000000A;
    backdrop-filter: blur(28px);
    border-bottom: 1px solid #FFFFFF33;
}
.bg_hero{
    background-image: url(../images/hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Vector1{
    top: 100%;
    left: 0;
}
.Vector2{
    right: 0;
    bottom: 0;
}
.w_680{
    max-width: 680px;
}
.w_643{
    max-width: 643px;
}
.w_244{
    max-width: 244px;
}
.w_558{
    max-width: 558px;
}
.w_700{
    max-width: 700px;
}
.w_324{
    max-width: 324px;
}
.w_482{
    max-width: 482px;
}







.pt_12{
    padding-top: 12px;
}
.pt_34{
    padding-top: 34px;
}
.pt_100{
    padding-top: 100px;
}
.pb_40{
    padding-bottom: 40px;
}
.py_92{
    padding-top: 92px;
    padding-bottom: 92px;
}
.pt_60{
    padding-top: 60px;
}
.pt_65{
    padding-top: 65px;
}
.pt_21{
    padding-top: 21px;
}
.gap_20{
    gap: 20px;
}
.pb_130{
    padding-bottom: 130px;
}
.pt_130{
    padding-top: 130px;
}
.pb_115{
    padding-bottom: 115px;
}
.pb_140{
    padding-bottom: 140px;
}
.pb_164{
    padding-bottom: 164px;
}




.round_box{
    width: 405px;
    height: 405px;
    background: #006EE60A;
    border: 1px solid #FFFFFF33;
    border-radius: 100%;
    top: 55%;
    right: 9%;
    transition: all 400ms linear;
    backdrop-filter: blur(8px);
    padding: 64px 70px 70px 90px;
}
.main_box{
    border-radius: 30px;
    transition: all 400ms linear;
    cursor: pointer;
    /* max-width: 364px;
    height: 474px; */
}
.main_box_heading{
    top: 10px;
    z-index: 2;
    opacity: 15%;
    left: 50%;
    transform: translateX(-50%);
}
.main_box:hover{
    .round_box{
        backdrop-filter: blur(20px);
    }
    .main_box_heading{
        display: none;
    }
    .round_text{
        top: 0;
    }
    .round_box{
        padding: 30px 20px;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        border-radius: 30px;
    }
    transform: translateY(-50px);
    .btn_1{
        margin-top: 30px;
    }
}
.round_text{
    transition: all 500ms linear;
}
.hidden_para{
    display: none;
}
.main_box:hover .hidden_para{
    display: block;
}
.round_text{
    left: 0;
    bottom: 30px;
    transition: all 500ms linear;
}
.btn_1{
    padding: 14px 17px;
    border-radius: 90px;
    background: #006EE6;
    border: 1px solid #006EE6;
    margin-top: 20px;
}

.bg_2{
    background-image: url(../images/Ready-to-experience.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.accordion{
    max-width: 860px;
    --bs-accordion-color: none !important;
    --bs-accordion-bg: transparent;
    --bs-accordion-border-color: none;
    --bs-accordion-border-width: none;
    --bs-accordion-border-radius: none;
}
.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: var(--color-blue3);
    box-shadow: none;
    span{
        color: var(--color-blue);
    }
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-item{
    border: none;
}
.accordion-body{
    padding: 0 16px;
}
.box2{
    padding: 60px 58px;
    max-width: 384px;
    border-radius: 10px;
    transition: all 400ms ease-in-out;
    border: 1px solid #0000001A
}
.box2:hover{
    box-shadow: 0px 4px 16px 0px #1A2C0014;
    border: transparent;
    .svg_box2{
        background: #006EE6;
    }
}
.svg_box2{
    padding: 17px;
    cursor: pointer;
    background: #E6F1FD;
    border-radius: 50px;
    max-width: 70px;
    min-height: 70px;
    width: 100%; 
     transition: all 400ms ease-in-out;
    top: -16%;
    left: 50%;
    transform: translateX(-50%);
}
.box2:hover .svg_box2 svg path {
    fill: white !important;
}

.footer_svg{
width: 50px;
transition: all 400ms linear;
    height: 50px;
    border-radius: 131px;
    background: #E6F1FD1A;
    filter: drop-shadow( 0px 4px 20px 0px #00000033);
}
.footer_svg:hover svg path{
    fill:var(--color-black) !important;

}
.footer_svg:hover{
    background: var(--color-white);
    transition: all 400ms linear;
}
.last_line{
    width: 100%;
    height: 1px;
    background: var(--color-white);
    opacity: 50%;
}
.footer_link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background: var(--color-white);
    left: 0;
    transition: all 400ms linear;
    bottom: -5px;
}
.footer_link:hover::after{
    width: 100%;
}





.slick-dots {
    /* position: absolute; */
    right: 0;
    list-style: none;
    text-align: center;
    margin: 0;
    display: flex;
    left: 0 !important;
}


.slick-dots li img:nth-child(1) {
    display: block;  
}  

.slick-dots li img:nth-child(2) {
    display: none;   
}

.slick-dots li.slick-active img:nth-child(1) {
    display: none;   
}

.slick-dots li.slick-active img:nth-child(2) {
    display: block;  
}






.menuicon {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.menuicon.show .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
    transition: all 400ms linear;
    border-radius: 4px;
}

.menuicon.show .bar:nth-child(2) {
    transform: translateX(-100%);
    transition: all 400ms linear;
}

.menuicon.show .bar:nth-child(3) {
    transition: all 400ms linear;
    transform: translateY(-11px) rotate(-45deg);
    border-radius: 4px;
}

.menulist.show {
    right: 0;
}







.demo .scroll_down {
    bottom: 20px;
    right: 5%;
    z-index: 2;
    transform: translate(0, -50%);
    transition: opacity .3s;
  }
 .down_Arrow{
    border: 0.53px solid #FFFFFF33;
    width: 40.3px;
    height: 121.63px;
    border-radius: 108px;
 }

@media (max-width:768px) {
    .menulist {
        flex-direction: column;
        position: fixed !important;
        overflow: hidden;
        top: 0;
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -100%;
        z-index: 99;
        background: var(--color-black);
        transition: all 600ms linear;
    }

    .bar {
        height: 3px;
        width: 100%;
        z-index: 150;
        background: var(--color-white);
    }

}