@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

.container1 {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.ff_rubik {
    font-family: "Rubik", sans-serif;
}

.ff_poppins {
    font-family: "Poppins", sans-serif;
}

.cursor-p {
    cursor: pointer;
}

.z-99 {
    z-index: 99;
}

.op_70 {
    opacity: 70%;
}

.op_78 {
    opacity: 78%;
}


.nav_btn {
    padding: 14px 16px;
    background: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 50px;
    transition: all 400ms linear;
}

.nav_btn:hover {
    background: var(--color-white);
    color: var(--color-blue);
}

.nav_bg {
    background: var(--nav-bg);
    backdrop-filter: blur(28px);
    border-bottom: 1px solid var(--down-arrow);
}

.bg_hero {
    background-image: url(../images/webP/Hero.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Vector1 {
    top: 8.2%;
    max-width: 1096px;
    width: 100%;
    min-height: 383px;
    z-index: 0;
    background-image: url(../images/webP/Vector1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 0;
}

.Vector2 {
    right: 0;
    bottom: 0;
}

.index_remove {
    z-index: -1;
}

.upper_text {
    left: 50%;
    transform: translateX(-50%);
    bottom: 13%;
}

.playbtn {

    top: 50%;
    left: 50%;
    transform-origin: 0;
    transform: translate(-50%, -50%);
}

.zn-2 {
    z-index: -2;
}

.w_680 {
    max-width: 680px;
}

.w_194 {
    max-width: 194px;
}

.w_264 {
    max-width: 264px;
}

.w_172 {
    max-width: 172px;
}

.w_643 {
    max-width: 643px;
}

.w_244 {
    max-width: 244px;
}

.w_558 {
    max-width: 558px;
}

.w_700 {
    max-width: 700px;
}

.w_324 {
    max-width: 324px;
}

.w_482 {
    max-width: 482px;
}

.w_379 {
    max-width: 379px;
}

.pt_12 {
    padding-top: 12px;
}

.pt_100 {
    padding-top: 50px;
}

.pb_40 {
    padding-bottom: 30px;
}

.pt_34 {
    padding-top: 34px !important;
}

.py_92 {
    padding-top: 92px;
    padding-bottom: 92px;
}

.pt_60 {
    padding-top: 60px;
}

.pt_65 {
    padding-top: 55px;
}

.pt_21 {
    padding-top: 21px;
}

.gap_20 {
    gap: 20px;
}

.pb_130 {
    padding-bottom: 50px;
}

.pt_130 {
    padding-top: 50px;
}

.pb_115 {
    padding-bottom: 75px;
}

.pb_140 {
    padding-bottom: 70px;
}

.pb_164 {
    padding-bottom: 84px;
}

.round_box {
    position: absolute;
    background: #006EE60A;
    border: 1px solid var(--down-arrow);
    backdrop-filter: blur(15px);
    border-radius: 300px;
    top: 50%;
    left: -30%;
    width: 405px;
    min-height: 405px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: 0.5s all ease-in-out;
}

.main_box {
    border-radius: 30px;
    transition: all 400ms linear;
    cursor: pointer;
    max-width: 364px;
}

.main_box_heading {
    top: 10px;
    z-index: 2;
    opacity: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.main_box:hover {
    .main_box_heading {
        display: none;
    }

    .round_box {
        top: 0;
        width: 100%;
        border-radius: 30px;
        left: 0;
        height: 100%;
    }

    .round_text {
        top: 0;
    }

    .btn_1 {
        margin-top: 30px;
    }
}

.round_text {
    transition: all 500ms linear;
}

.hidden_para {
    display: none;
}

.main_box:hover .hidden_para {
    display: block;
}

.round_text {
    left: 0;
    bottom: 30px;
    transition: all 500ms linear;
}

.btn_1 {
    padding: 14px 17px;
    border-radius: 90px;
    background: var(--color-blue);
    border: 1px solid var(--color-blue);
    margin-top: 20px;
    transition: all 400ms linear;
}

.btn_1:hover {
    background: var(--color-white);
    color: var(--color-blue);
}

.bg_2 {
    background-image: url(../images/webP/Ready-to-experience.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.z_10 {
    z-index: 10 !important;
}

.Vector3 {
    right: 0;
    top: 0;
}

.Vector4 {
    left: 0;
    bottom: 0;
}

.accordion-button {
    padding: 16px 0 !important;
}

.accordion {
    max-width: 860px;
    --bs-accordion-color: none !important;
    --bs-accordion-bg: transparent;
    --bs-accordion-border-color: none;
    --bs-accordion-border-width: none;
    --bs-accordion-border-radius: none;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: transparent;
    box-shadow: none;

    span {
        color: var(--color-blue);
    }
}

.accordion-button {
    display: flex;
    align-items: start;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-item {
    border: none;
}

.accordion-body {
    padding: 0;
}

.box2 {
    padding: 60px 58px;
    border-radius: 10px;
    transition: all 400ms ease-in-out;
    border: 1px solid #0000001A;
}

.box2:hover {
    box-shadow: 0px 4px 16px 0px #1A2C0014;
    border: transparent;

    .svg_box2 {
        background: var(--color-blue);
    }
}

.svg_box2 {
    padding: 17px;
    cursor: pointer;
    background: var( --svg-2);
    border-radius: 50px;
    max-width: 70px;
    min-height: 70px;
    width: 100%;
    transition: all 400ms ease-in-out;
    top: -16%;
    left: 50%;
    transform: translateX(-50%);
}

.box2:hover .svg_box2 svg path {
    fill: white !important;
}

.footer_svg {
    width: 50px;
    transition: all 400ms linear;
    height: 50px;
    border-radius: 131px;
    cursor: pointer;
    background: var(--footer-svg);
    filter: drop-shadow(0px 4px 20px 0px #00000033);
}

.footer_svg:hover svg path {
    fill: var(--color-black) !important;
}

.footer_svg:hover {
    background: var(--color-white);
    transition: all 400ms linear;
}

.img_hover {
    border-radius: 30px;
    border: 2px solid var(--img-hover);
}

.img_scale {
    transition: all 400ms linear;
    scale: 1.1;
}

.img_hover:hover {
    .img_scale {
        scale: 1.3;
    }
}

.last_line {
    width: 100%;
    height: 1px;
    background: var(--color-white);
    opacity: 50%;
}

.footer_link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background: var(--color-white);
    left: 0;
    transition: all 400ms linear;
    bottom: -5px;
}

.footer_link:hover::after {
    width: 100%;
}

.slick-dots {
    right: 0;
    list-style: none;
    text-align: center;
    margin: 0;
    display: flex;
    left: 0 !important;
}

.slick-dots li img:nth-child(1) {
    display: block;
}

.slick-dots li img:nth-child(2) {
    display: none;
}

.slick-dots li.slick-active img:nth-child(1) {
    display: none;
}

.slick-dots li.slick-active img:nth-child(2) {
    display: block;
}

.menuicon {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.menuicon.show .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
    transition: all 400ms linear;
    border-radius: 4px;
}

.menuicon.show .bar:nth-child(2) {
    transform: translateX(-100%);
    transition: all 400ms linear;
}

.menuicon.show .bar:nth-child(3) {
    transition: all 400ms linear;
    transform: translateY(-11px) rotate(-45deg);
    border-radius: 4px;
}

.menulist.show {
    right: 0;
}

.demo .scroll_down {
    bottom: -7%;
    right: 4%;
    transform: translate(0, -50%);
    transition: opacity .3s;
}

.down_Arrow {
    border: 0.53px solid var(--down-arrow);
    width: 40.3px;
    height: 121.63px;
    border-radius: 108px;
}

@media (min-width:576px) {
    .pt_100 {
        padding-top: 100px;
    }

    .pb_130 {
        padding-bottom: 130px;
    }

    .pt_130 {
        padding-top: 130px;
    }

    .pb_40 {
        padding-bottom: 40px;
    }

    .pb_115 {
        padding-bottom: 115px;
    }

    .pb_140 {
        padding-bottom: 140px;
    }

    .pb_164 {
        padding-bottom: 164px;
    }

    .pt_34 {
        padding-top: 34px;
    }

    .pt_65 {
        padding-top: 65px;
    }

    .bg_2 {
        background-size: 100% 100%;
    }

    .box2 {
        max-width: 384px;
    }
}
@media (min-width:992px) {
    .trans:hover .main_box {
        transform: translateY(-50px);
    }
}

@media (max-width:768px) {
    .menulist {
        flex-direction: column;
        position: absolute !important;
        overflow: hidden;
        top: 0;
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -100%;
        z-index: 99;
        background: #0A2E57;
        backdrop-filter: blur(8px);
        transition: all 600ms linear;
    }

    .bar {
        height: 3px;
        width: 100%;
        z-index: 150;
        background: var(--color-white);
    }

    .menuicon {
        z-index: 99;
    }

    .bar {
        z-index: 99;
    }
}

@media (min-width:1400px) {
    .demo .scroll_down {
        bottom: -7%;
        right: 2%;
        z-index: 2;
        transform: translate(0, -50%);
        transition: opacity .3s;
    }

    .upper_text {
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;
    }
}